server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/aegis_auth
    username: postgres
    password: Aakash@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: redis
    port: 6379
jwt:
  secret: this-project-will-get-me-into-big-tech
  expiration: 86400000
logging:
  level:
    org.hibernate.SQL: DEBUG
