server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/aegis_auth
    username: postgres
    password: Aakash@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: redis
    port: 6379

logging:
  level:
    org.hibernate.SQL: DEBUG
